 .articlesHome  {
    overflow-y: scroll;
 } 
    
   
.articleBody {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;  
    border:  1px solid black; 
    overflow: scroll;
    color: white;;
    box-shadow: 5px black;
    margin-bottom: 20px;
    background-color: rgba(100, 95, 95, 0.5);
}

.article-row {
    display: flex;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-right: 20%;
    flex-direction: column;
    justify-content: center;
}

.articlesBtn {
    color: white;
    background-color: red;
}



