 .articlesHome  {
    overflow-y: scroll;
 } 

 .display-4 {
     height: 50px;
 }
   
.articleBody {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 20px;  
    border:  1px solid black; 
    overflow: scroll;
    color: white;;
    box-shadow: 5px black;
    margin-bottom: 20px;
    background-color: rgba(100, 95, 95, 0.5);
}

.singleArticlerow {
    display: grid;
    
    grid-template-columns: 1fr; 
    margin-left: 15%;
    margin-right: 15%;
    
}

.articlesBtn {
    color: white;
    background-color: red;
}


body, p, h1, h2,h3,h4,h5 {
  font-family: 'Raleway', sans-serif
}

