body {
  background-color: white;  
}

.bgimg {
  height: 100%;
  width: 110%;
  opacity: 0.6;
}
.form-group {
  position: absolute;
  border:1px solid black;
  background-color: white;
  border-radius: 5%;
  box-shadow: 3px 2px
}

.authForm-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-text {
  padding-top: 2%;
}

@media screen and (max-width: 600px) {
  .authform {
    font-size: 50%
  }
}