.home {
background-image: url('https://images.pexels.com/photos/158651/news-newsletter-newspaper-information-158651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
 height: 100%;
 width: 100%;
 opacity: 0.9;
 font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}


.topic-button {
      padding: 11%;
    border-radius: 20%;
    background-color: red;
    box-shadow: 1px 1px;
}

.article-button {
    padding: 10%;
    border-radius: 20%;
    background-color: red;
    box-shadow: 1px 1px;
}

.column {
    margin-top: 1%;
    float: left;
    width: 50%;
    padding: 10px;
}



.homeHead {
    justify-content: center;
    height: auto;
    width: 100%;
}

.imageLinksHome {
    display: grid;
    grid-template-columns:  1fr 1fr;

   
}


.imageLinksHome img {
    height: 250px;
   width: 350px;
}

.containerHome {
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.image-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
}

@media (max-width:840px) {
    .imageLinksHome {
        display: grid;
        grid-template-columns:  1fr;
        
    }
    .topicContainer {
        display: grid;
        justify-content: space-between;
        grid-template-columns:  1fr 1fr 1fr;
        grid-gap: 20px;
        
    }
}