.home {
background-image: url('https://images.pexels.com/photos/158651/news-newsletter-newspaper-information-158651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
 height: 100%;
 width: 100%;
 opacity: 0.9;
 font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}


.topic-button {
      padding: 21%;
    border-radius: 20%;
    background-color: red;
    box-shadow: 1px 1px;
}

.article-button {
    padding: 20%;
    border-radius: 20%;
    background-color: red;
    box-shadow: 1px 1px;
}

.column {
    margin-top: 1%;
    float: left;
    width: 50%;
    padding: 10px;
}



.homeHead {
    justify-content: center;
    height: auto;
    width: 100%;
}

