.topicsFlex {
     border: 1px solid black;
     padding: 10%;
     background-color: red;
     border-radius: 10px;
     box-shadow: 1px 2px;
}

.topicContainer {
    display: block;
     padding-bottom: 10px;
     margin-left: 25%;
     margin-right: 25%;    
}

