.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 0.2fr 0.2fr 3fr 0.2fr;
  grid-template-areas: 
  "header"
  "nav"
  "main"
  "footer";
}

header {
  grid-area: "header";
  color: white;
  background-color: white;
  
}

.codeBanner {
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

nav {
  grid-area: "nav";
  
  border: solid 1px rgba(1, 1, 1, 0.714);
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-image: linear-gradient(to right, rgb(167, 167, 167) , rgb(119, 0, 255));
}

a:link, a:visited {
   
    color: white;
    padding: 5px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    text-transform: uppercase;
    margin: 0 auto;
    border: 1px solid black;
}

a:hover, a:active {
    background-color: rgb(0, 30, 255);
}


main {
  grid-area: "main";
  background-color: rgb(203, 203, 100);
  border: solid 1px rgba(254, 0, 0, 0.714)
}

footer {
  grid-area: "footer";
  background-color:rgb(83, 140, 227);
  border: solid 1px rgba(0, 0, 0, 0.714);
  background-image: linear-gradient(to right, rgb(0, 94, 255) , rgb(0, 217, 255));
}

