.voteBtn {
  color: white;
  background-color: red;
  border-radius: 10%;
  cursor: pointer;
}

.container-btns-comment {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 20%;
  padding-left: 20px;
}